body{
    font-family:Arial, Helvetica, Times;
}

#content{
    position: absolute;
    margin-top:25px;
    left: 50%;
    transform: translate(-50%, 0);
	padding-bottom: 18px;  /* must be same height as the footer */
}

#footer{
    width:99%;
    position: absolute;
    bottom:9px;
	height: 18px;
	clear:both;
}


ul{
    border-radius: 12px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #008AE6;
}

li{
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #80CCFF;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

.username{
    font-weight:bold;
    background-color: #008AE6;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

input[type=text]{
	width: 100%;
    box-sizing: border-box;
    webkit-box-sizing:border-box;
    moz-box-sizing: border-box;
}

input[type=submit]{
    padding:8px;
    font-family:Arial, Helvetica, Times;
    position:relative;
    border: 2px solid #008AE6;
    color: white;
    background-color: #008AE6;
    border-radius:4px;
}

input[type=submit]:hover {
    border: 2px solid #80CCFF;
    background-color: #80CCFF;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    vertical-align: middle;
}

td,th{
    padding:8px;
}

.ManageEmployeeTable{
    width: auto;
    table-layout: fixed;
    border-collapse: collapse;
}

.ManageEmployeeTable tbody{
  display:block;
  width: 1000px;
  overflow: auto;
  height: 475px;
}

.ManageEmployeeTable thead tr {
   display: block;
   align:center;
}

.ManageEmployeeTable th, .ManageEmployeeTable td {
  text-align: left;
  width: 400px;
}

.ManageEmployee2Col{
    width:600px;
}

