<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spectrum NPD</title>
    <link rel="stylesheet" type="text/css" href="/CSS/main.css">

    {% block head %}
    {% endblock %}
</head>

<body style="overflow:hidden">


    <div id="wrap">
        <header>
             <div id="header">
                <center>
                    <img src="/CSS/Spectrum-Brands-Logo.png" style="width:300px;height:150px" alt="SPB logo">
                </center>

                <ul>
                    <li class="username">{{username}}</a></li>
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/admin/manageEmployee">Manage Employees</a></li>
                    <li><a href="/changePassword">Change My Password</a></li>
                    <li><a href="/logout">Log Out</a></li>
                </ul>
            </div>
        </header>

        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>

</html>