{% if isAdmin == 1 %}
    {% extends "/HTML/AdminTemplate.html" %}
{% elif isAdmin == 0 %}
    {% extends "/HTML/StaffTemplate.html" %}
{% endif %}


{% block content %}
    <h1>Password has been changed</h1>

    {% if isAdmin == 1 %}
        <form action="/home" method="get">
            <input type="submit" value="Return">
        </form>
    {% elif isAdmin == 0 %}
        <form action="/home" method="get">
            <input type="submit" value="Return">
        </form>
    {% endif %}
{% endblock %}