<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/CSS/main.css">
</head>
<body>
    <div id="wrap">
        <div id="header">
            <center>
                <img src="/CSS/Spectrum-Brands-Logo.png" alt="SPB logo">
            </center>

            <ul>
                <li class="username">{{username}}</a></li>
                <li><a href="/changePassword">Change Password</a></li>
                <li><a href="/logout">Log Out</a></li>
            </ul>
        </div>



        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>

</body>
</html>